*
{
    margin: 0;
    padding: 0;
    border-style: none;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    line-height: 100%;
    scroll-behavior: smooth;
    background-color: #ffffff;
}

head, meta, link, script
{
    display: none;
}

html
{
    min-width: 1100px;
}

body
{
    align-items: center;
}

.mid
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header
{
    width: 100%;
}

#header-main
{
    aspect-ratio: 12;
}

#main
{
    width:96%;
}

#footer
{
    width: 100%;
}

#footer-main
{
    aspect-ratio: 12;
}
