*
{
    margin: 0;
    padding: 0;
    border-style: none;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    line-height: 100%;
    scroll-behavior: smooth;
    background-color: #ffffff;
}

head, meta, link, script
{
    display: none;
}

html
{
    min-width: 1100px;
}

body
{
    align-items: center;
}

.mid
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.opc
{
    background:  rgba(0,0,0,0);
}

#header
{
    width: 100%;
    align-items: center;
}

/*#header-main
{
    width: 100%;
    aspect-ratio: 12;
}*/

#main
{
    width:96%;
}

#footer
{
    width: 100%;
}

/*#footer-main
{
    aspect-ratio: 12;
}*/
