*
{
    margin: 0;
    padding: 0;
    border-style: none;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    line-height: 100%;
    scroll-behavior: smooth;
    background-color: #ffffff;
}

head, meta, link, script
{
    display: none;
}

html
{
    min-width: 1100px;
}

body
{
    align-items: center;
}

#header
{
    width: 100%;
    align-items: center;
}

#main
{
    width:96%;
    overflow: hidden;
}

#footer
{
    width: 100%;
}

.mid
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.opc
{
    background:  rgba(0,0,0,0);
}

/*.item_board
{
    display: flex;
    flex-flow: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
}*/

.item_board
{
    overflow: auto;
    display: grid;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-between;
    align-content: start;
}
